@using System.Web.Configuration
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - @WebConfigurationManager.AppSettings["PageTitle"]</title>

    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/apple-touch-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/apple-touch-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/apple-touch-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/apple-touch-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/apple-touch-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/apple-touch-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/apple-touch-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/apple-touch-icon-180x180.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-194x194.png")" sizes="194x194">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-96x96.png")" sizes="96x96">
    <link rel="icon" type="image/png" href="@Url.Content("~/android-chrome-192x192.png")" sizes="192x192">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/manifest.json")">
    <meta name="apple-mobile-web-app-title" content="Saeed Esmaeili Weblog">
    <meta name="application-name" content="Saeed Esmaeili Weblog">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="@Url.Content("~/mstile-144x144.png")">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @if (User.IsInRole("Admin") || User.IsInRole("Author"))
    {
        @Styles.Render("~/Content/admincss")
        @Scripts.Render("~/bundles/admin")
    }
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/uikit")

</head>

<body class="tm-background">
    <nav class="tm-navbar uk-navbar " data-uk-sticky="{ media: '(min-width: 801px) '}">
        <div class="uk-container uk-container-center">
            <a class="uk-navbar-brand uk-visible-large" href="@Url.Action("Index","Home")">
                <img class="uk-margin uk-margin-remove uk-responsive-height" src="@Url.Content("~/Images/logo.png")" title="@WebConfigurationManager.AppSettings["PageTitle"]" alt="@WebConfigurationManager.AppSettings["PageTitle"]">
            </a>
            <ul class="uk-navbar-nav uk-visible-large">
                @Html.MvcSiteMap().Menu(false, new { name = "MainMenu" })

            </ul>
            <a href="#offcanvas" class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas></a>
            <div class="uk-navbar-brand uk-navbar-center uk-hidden-large">
                <img class="uk-responsive-height" src="@Url.Content("~/Images/logo.png")" title="@WebConfigurationManager.AppSettings["PageTitle"]" alt="@WebConfigurationManager.AppSettings["PageTitle"]" />
            </div>
        </div>
    </nav>

    @*@Html.Partial("_LoginPartial")*@
    <div class="tm-middle">
        <div class="uk-container uk-container-center">
            @RenderBody()
        </div>
    </div>

    <div class="tm-footer">
        <div class="uk-container uk-container-center uk-text-center ">
            <ul class="uk-subnav uk-subnav-line uk-flex-center ">
                <li><a href="#" class=" uk-icon-html5 uk-icon-medium"></a></li>
                <li><a href="#" class=" uk-icon-css3 uk-icon-medium"></a></li>
                <li><a href="#" class=" uk-icon-tablet uk-icon-medium"></a></li>
                <li><a href="#" class=" uk-icon-mobile-phone uk-icon-medium"></a></li>
            </ul>
            <div class="uk-panel">
                <p dir="ltr" class="uk-text-muted uk-text-small">Made by <a href="http://www.SaeedEsmaeili.ir">Saeed Esmaeili</a> with love and caffeine.</p>
            </div>
        </div>
    </div>


    <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <div class="uk-panel ">
                <form class="uk-form " role="search" method="get" action="@Url.Action("Index","Search")">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-search"></i>
                        <input name="query" type="text" value="@ViewBag.SearchTerm" class="uk-width-1-1">
                    </div>
                </form>
            </div>

            <ul class="uk-nav tm-offcanvas-nav uk-nav-parent-icon uk-nav-offcanvas" data-uk-nav="{}">
                <li><a href="@Url.Action("Rss","Categories")"><i class="uk-icon-rss uk-margin-right"></i>مشترک خوراک وبلاک شوید</a></li>
                <li class="uk-nav-header">شاخه های وبلاگ</li>
                @Html.Action("Menu", "Categories", new { SelectedCategoryId = ViewBag.CategoryId, SelectedCategoryParentId = ViewBag.CategoryParentId })
                <li class="uk-nav-header">منو اصلی</li>
                @Html.MvcSiteMap().Menu(false, new { name = "offcanvas" })
                <li class="uk-nav-header">منو مدیریت</li>
                <li><a href="@Url.Action("Index","Categories")">مدیریت شاخه ها</a></li>
            </ul>
        </div>
    </div>


    @if (User.IsInRole("Admin"))
    {

    }
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '@WebConfigurationManager.AppSettings["disqus_shortname"]'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
</body>
</html>