
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - سعید اسماعیلی</title>

    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/apple-touch-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/apple-touch-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/apple-touch-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/apple-touch-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/apple-touch-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/apple-touch-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/apple-touch-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/apple-touch-icon-180x180.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-194x194.png")" sizes="194x194">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-96x96.png")" sizes="96x96">
    <link rel="icon" type="image/png" href="@Url.Content("~/android-chrome-192x192.png")" sizes="192x192">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/manifest.json")">
    <meta name="apple-mobile-web-app-title" content="Saeed Esmaeili Weblog">
    <meta name="application-name" content="Saeed Esmaeili Weblog">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="@Url.Content("~/mstile-144x144.png")">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @if (User.IsInRole("Admin") || User.IsInRole("Author"))
    {
        @Styles.Render("~/Content/admincss")
        @Scripts.Render("~/bundles/admin")
    }
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/uikit")

</head>

<body class="tm-background">


    <nav class="tm-navbar uk-navbar " data-uk-sticky="{ media: '(min-width: 640px) '}">
        <div class="uk-container uk-container-center">
            <a class="uk-navbar-brand uk-hidden-small" href="@Url.Action("Index","Home")">
                <img class="uk-margin uk-margin-remove uk-responsive-height" src="@Url.Content("~/Images/logo.png")" title="سعید اسماعیلی - Saeed Esmaeili" alt="سعید اسماعیلی - Saeed Esmaeili">
            </a>
            <ul class="uk-navbar-nav uk-hidden-small">
                @Html.MvcSiteMap().Menu(false, new { name = "MainMenu" })

            </ul>
            <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
            <div class="uk-navbar-brand uk-navbar-center uk-visible-small">
                <img class="uk-responsive-height" src="@Url.Content("~/Images/logo.png")" title="سعید اسماعیلی - Saeed Esmaeili" alt="سعید اسماعیلی - Saeed Esmaeili" />
            </div>
        </div>
    </nav>

    @*@Html.Partial("_LoginPartial")*@
    <div class="tm-middle">
        <div class="uk-container uk-container-center">
            @RenderBody()
        </div>
    </div>
    <div class="tm-footer">
        <div class="uk-container uk-container-center uk-text-center ">

            <ul class="uk-subnav uk-subnav-line uk-flex-center ">
                <li><a href="#" class=" uk-icon-html5 uk-icon-medium"></a></li>
                <li><a href="#" class=" uk-icon-css3 uk-icon-medium"></a></li>
                <li><a href="#" class=" uk-icon-tablet uk-icon-medium"></a></li>
                <li><a href="#" class=" uk-icon-mobile-phone uk-icon-medium"></a></li>
            </ul>
            <div class="uk-panel">
                <p class="uk-text-muted uk-text-small">ساخته شده توسط <a href="http://www.SaeedEsmaeili.ir">سعید اسماعیلی</a> با عشق و کافئین.</p>
            </div>

        </div>
    </div>


    <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            @*<ul class="uk-nav tm-offcanvas-nav uk-nav-parent-icon uk-nav-offcanvas" data-uk-nav="{}">
                    <li>
                        <a href="">خانه</a>
                    </li>
                    <li class="uk-parent ">
                        <a href="#">وبلاگ</a>
                        <ul class="uk-subnav">
                            @Html.Action("Menu", "Categories", new { SelectedCategoryId = ViewBag.CategoryId, SelectedCategoryParentId = ViewBag.CategoryParentId })
                        </ul>
                    </li>
                    <li>
                        <a href="#">تمای با من</a>
                    </li>
                </ul>*@

            <div class="uk-panel ">
                <form class="uk-form " role="search" method="post" action="@Url.Action("Search","Search")">
                    @Html.AntiForgeryToken()
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-search"></i>
                        <input name="query" type="text" value="@ViewBag.SearchTerm" class="uk-width-1-1">
                    </div>
                </form>
            </div>

            <ul class="uk-nav tm-offcanvas-nav uk-nav-parent-icon uk-nav-offcanvas" data-uk-nav="{}">

                <li class="uk-nav-header">شاخه های وبلاگ</li>
                @Html.Action("Menu", "Categories", new { SelectedCategoryId = ViewBag.CategoryId, SelectedCategoryParentId = ViewBag.CategoryParentId })
                <li class="uk-nav-header">منو اصلی</li>
                @Html.MvcSiteMap().Menu(false, new { name = "offcanvas" })
            </ul>
        </div>
    </div>


    @if (User.IsInRole("Admin"))
    {
        <script>
            $(function () {
                $(".ckeditor").ckeditor();
            });
        </script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>