@model IEnumerable<Blog.Models.ArchiveItemViewModel>
@using Blog.Helpers
@foreach (Blog.Models.ArchiveItemViewModel item in Model)
{
    if (ViewBag.Mounth == item.Mounth && ViewBag.Year == item.Year)
    {
        <li class="uk-active"><a href="@Url.Action("ShowArchive", "BlogPosts",new { year = item.Year, mounth = item.Mounth })">@item.Year @item.Mounth.GetPersianMounthName() <span class="uk-margin-left uk-badge uk-badge-notification uk-badge-warning">@item.Count</span></a></li>
    }
    else
    {
        <li><a href="@Url.Action("ShowArchive", "BlogPosts",new { year = item.Year, mounth = item.Mounth })">@item.Year @item.Mounth.GetPersianMounthName() <span class="uk-margin-left uk-badge uk-badge-notification uk-badge-warning">@item.Count</span></a></li>
    }

}
