@model Blog.Models.BlogPost
@using System.Web.Configuration
@{
    ViewBag.Title = Model.Title;
}

<div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-medium-3-4">
        @Html.MvcSiteMap().SiteMapPath()
        @if (User.IsInRole("Author") || User.IsInRole("Admin"))
        {
            <p>
                <a href="@Url.Action("Edit", "BlogPosts", new { id = Model.Id })" class="uk-button uk-button-success"> ویرایش </a>
                <a href="@Url.Action("Delete", "BlogPosts", new { id = Model.Id })" class="uk-button uk-button-danger"> حذف </a>
            </p>
        }
        <article class="uk-article">

            <h2 class="uk-article-title">
                <a href=" @Url.Action("Details","BlogPosts",new { Id = Model.Id })">@Model.Title</a>
            </h2>

            <p class="uk-article-meta ">
                <i class="uk-icon-user  uk-margin-small-right uk-icon-small"></i>@Model.Author.FirstName @Model.Author.LastName
                <i class="uk-icon-calendar uk-margin-small-right uk-margin-left uk-icon-small"></i>@Html.DisplayFor(modelItem => Model.PublishDate)
                <i class="uk-icon-cube  uk-margin-small-right uk-margin-left uk-icon-small"></i><a href="#" class="uk-link-muted">@Model.Category.Name</a>
            </p>
            <p>
                <a href=" @Url.Action("Details","BlogPosts",new { Id = Model.Id })">
                    <img width="900" height="300" class="uk-responsive-width" src="@(Url.Content(WebConfigurationManager.AppSettings["ImagePostPath"]+Model.Picture))?w=900&amp;h=300&amp;mode=crop" alt="@Model.Title" />
                </a>
            </p>

            <div>
                @Html.Raw(Model.Content)
            </div>

        </article>

        <div id="disqus_thread" class="uk-margin-large-top" dir="rtl"></div>
        <script type="text/javascript">

            var disqus_config = function () {
                this.language = "fa";
            };

            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_identifier = '@Model.Id';
            var disqus_shortname = 'saeedesmaeili'; // Required - Replace '<example>' with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box uk-text-center">
            <img class="uk-border-circle" width="120" height="120" src="@Url.Content("~/images/me.jpg")" alt="سعید اسماعیلی Saeed Esmaeili">
            <h3>سعید اسماعیلی</h3>
            <p>UX Designer<br />Web Developer</p>
        </div>
        <div class="uk-panel ">
            <h3 class="uk-panel-title">آرشیو</h3>
            <ul class="uk-list uk-list-line ">
                @Html.Action("Archive", "BlogPosts")
            </ul>
        </div>

    </div>

</div>