@model Blog.Models.BlogPost
@using System.Web.Configuration
@{
    ViewBag.Title = Model.Title;
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority;
}

@section metaTags{
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.Keywords" />
    <meta name="robots" content="index, follow">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@WebConfigurationManager.AppSettings["twitter:site"]">
    <meta name="twitter:title" content="@Model.Title">
    <meta name="twitter:description" content="@Model.MetaDescription">
    <meta name="twitter:creator" content="@Model.Author.TwitterId">
    <!-- Twitter Summary card images must be at least 120x120px -->
    @if (Model.ShowPicture)
    {
        <meta name="twitter:image" content="@baseUrl@(Url.Content(WebConfigurationManager.AppSettings["ImagePostPath"] + Model.Picture))?w=120&amp;h=120&amp;mode=max">
    }
    <!-- Open Graph data -->
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@baseUrl@Url.Action("Details","BlogPosts", new { id = Model.CategoryId , postId = Model.Id })" />
    @if (Model.ShowPicture)
    {
        <meta property="og:image" content="@baseUrl@(Url.Content(WebConfigurationManager.AppSettings["ImagePostPath"]+Model.Picture))?w=120&amp;h=120&amp;mode=max" />
    }
    <meta property="og:description" content="@Model.MetaDescription" />
    <meta property="og:site_name" content="@WebConfigurationManager.AppSettings["og:SiteName"]" />
    <meta property="fb:admins" content="@WebConfigurationManager.AppSettings["FacebookNumericId"]" />
}

<div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-large-3-4">
        @Html.MvcSiteMap().SiteMapPath()
        @if (User.IsInRole("Author") || User.IsInRole("Admin"))
        {
            <form id="deletePost" action="@Url.Action("Delete","BlogPosts")" method="post">
                <input type="hidden" name="id" id="id" value="@Model.Id" />
                @Html.Hidden("urlReferrer", Request.UrlReferrer == null ? Url.Action("ShowByCategory", "BlogPosts") : Request.UrlReferrer.ToString())
                @Html.AntiForgeryToken()
                <p>
                    <a href="@Url.Action("Edit", "BlogPosts", new { id = Model.Id })" class="uk-button uk-button-success"> ویرایش </a>
                    <button type="submit" class="uk-button uk-button-danger"><i class="uk-icon-trash-o uk-margin-small-right"></i>حذف</button>
                </p>
            </form>
        }
        <article class="uk-article">

            <h1 class="uk-article-title">
                <a href="#">@Model.Title</a>
            </h1>

            <p class="uk-article-meta ">
                <i class="uk-icon-user  uk-margin-small-right uk-icon-small"></i>@Model.Author.FirstName @Model.Author.LastName
                <i class="uk-icon-calendar uk-margin-small-right uk-margin-left uk-icon-small"></i>@Html.DisplayFor(modelItem => Model.PublishDate)
                <i class="@Model.Category.IconClass  uk-margin-small-right uk-margin-left uk-icon-small"></i><a href="@Url.Action("ShowByCategory","BlogPosts",new { id=Model.CategoryId })" class="uk-link-muted">@Model.Category.Name</a>
            </p>
            @if (Model.ShowPicture)
            {
                <p>
                    <a href="#">
                        <img width="900" height="300" class="uk-responsive-width" src="@(Url.Content(WebConfigurationManager.AppSettings["ImagePostPath"]+Model.Picture))?w=900&amp;h=300&amp;mode=crop" alt="@Model.Title" />
                    </a>
                </p>
            }
            <div>
                @Html.Raw(Model.Content)
            </div>

        </article>

        <div id="disqus_thread" class="uk-margin-large-top" dir="rtl"></div>
        <script type="text/javascript">

            var disqus_config = function () {
                this.language = "fa";
            };

            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_identifier = '@Model.Id';
            var disqus_shortname = '@WebConfigurationManager.AppSettings["disqus_shortname"]'; // Required - Replace '<example>' with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>

    <div class="uk-width-large-1-4">
        <div class="uk-panel uk-panel-box uk-text-center">
            <img class="uk-border-circle" width="120" height="120" src="@Url.Content("~/images/me.jpg")" alt="@Model.Author.FirstName @Model.Author.LastName">
            <h3 class="uk-text-bold">@Model.Author.FirstName @Model.Author.LastName</h3>
        </div>
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title"><i class="uk-icon-archive uk-margin-small-right"></i>آرشیو</h3>
            <ul class="uk-list uk-list-line ">
                @Html.Action("Archive", "BlogPosts")
            </ul>
        </div>

    </div>

</div>

@section scripts{
    <script>
        $(function () {
            $('#deletePost').submit(function (e) {
                e.preventDefault();
                if (confirm("آیا از حذف این پست اطمینان دارید؟")) {
                    $("#deletePost").unbind("submit").submit();
                }
            });
        });
    </script>
}
