@using PagedList
@using PagedList.Mvc
@using System.Web.Configuration
@model  PagedList.IPagedList<Blog.Models.BlogPost>
@{
    ViewBag.Title = "وبلاگ";
}

<div class="uk-grid" data-uk-grid-margin="">
    <div class="tm-sidebar uk-width-large-1-4 uk-visible-large">
        <div class="uk-text-center">
            <a href="@Url.Action("Rss","Categories")" class="uk-icon-rss" style="font-size:90px;"></a>
        </div>
        <hr class="uk-grid-divider" />
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Index","Categories")" class="uk-button uk-button-primary uk-margin-bottom uk-width-1-1 uk-text-left"><i class="uk-icon-cogs uk-margin-small-right"></i>مدیریت شاخه ها</a>
        }
        <ul class="tm-nav tm-category-nav uk-nav uk-nav-parent-icon uk-nav-side" data-uk-nav="{}">
            @Html.Action("Menu", "Categories", new { SelectedCategoryId = ViewBag.CategoryId, SelectedCategoryParentId = ViewBag.CategoryParentId })
        </ul>
    </div>
    <div class="tm-main uk-width-large-3-4">
        @Html.MvcSiteMap().SiteMapPath()
        @if (User.IsInRole("Author") || User.IsInRole("Admin"))
        {
            <a class="uk-button" href="@Url.Action("Create","BlogPosts",new { id = ViewBag.CategoryId })">پست جدید</a>
            <hr />
        }
        @foreach (var post in Model)
        {
            @Html.Partial("_PostPreview", post)
            <hr class="uk-article-divider">
        }

        <div class="uk-visible-small">
            @Html.PagedListPager(Model, page => Url.Action("ShowByCategory", "BlogPosts", new { id = ViewBag.CategoryId, page }), new PagedListRenderOptions()
           {
               UlElementClasses = new List<string>() { "uk-pagination" },
               LiElementClasses = new List<string>() { "" },
               MaximumPageNumbersToDisplay = 5,
               DisplayLinkToNextPage = PagedListDisplayMode.Never,
               DisplayLinkToPreviousPage = PagedListDisplayMode.Never
           })
        </div>
        <div class="uk-hidden-small">
            @Html.PagedListPager(Model, page => Url.Action("ShowByCategory", "BlogPosts", new { id = ViewBag.CategoryId, page }), new PagedListRenderOptions()
           {
               UlElementClasses = new List<string>() { "uk-pagination" },
               LiElementClasses = new List<string>() { "" },
               MaximumPageNumbersToDisplay = 10

           })
        </div>
    </div>
</div>