@using PagedList
@using PagedList.Mvc
@using System.Web.Configuration
@using Blog.Helpers
@model  PagedList.IPagedList<Blog.Models.BlogPost>

@{
    ViewBag.Title = "آرشیو"  + " " + ((int)ViewBag.Mounth).GetPersianMounthName() + " ماه " + ViewBag.Year  ;
}

<div class="uk-grid" data-uk-grid-margin="">
    <div class="tm-sidebar uk-width-large-1-4 uk-visible-large">
        <div data-uk-sticky="{boundary: true,top:100}" style="z-index:1">
            <div class="uk-text-center">
                <a href="@Url.Action("Rss","Categories")" class="uk-icon-rss" style="font-size:90px;"></a>
            </div>
            <hr class="uk-grid-divider" />
            <ul class="uk-nav uk-nav-side">
                @Html.Action("Archive", "BlogPosts", new { year = ViewBag.Year , mounth = ViewBag.Mounth })
            </ul>
        </div>
    </div>
    <div class="tm-main uk-width-large-3-4">
        @Html.MvcSiteMap().SiteMapPath()
        @if (User.IsInRole("Author") || User.IsInRole("Admin"))
        {
            <a class="uk-button" href="@Url.Action("Create","BlogPosts",new { id = ViewBag.CategoryId })">پست جدید</a>
            <hr />
        }
        @foreach (var post in Model)
        {
            @Html.Partial("_PostPreview", post)
            <hr class="uk-article-divider">
        }

        <div class="uk-visible-small">
            @Html.PagedListPager(Model, page => Url.Action("ShowByCategory", "BlogPosts", new { id = ViewBag.CategoryId, page }), new PagedListRenderOptions()
       {
           UlElementClasses = new List<string>() { "uk-pagination" },
           LiElementClasses = new List<string>() { "" },
           MaximumPageNumbersToDisplay = 5,
           DisplayLinkToNextPage = PagedListDisplayMode.Never,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Never
       })
        </div>
        <div class="uk-hidden-small">
            @Html.PagedListPager(Model, page => Url.Action("ShowByCategory", "BlogPosts", new { id = ViewBag.CategoryId, page }), new PagedListRenderOptions()
       {
           UlElementClasses = new List<string>() { "uk-pagination" },
           LiElementClasses = new List<string>() { "" },
           MaximumPageNumbersToDisplay = 10

       })
        </div>
    </div>
</div>